form {
  background-color: rgb(32, 0, 90);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: 400px;
  padding: 0.3rem;
  border-radius: 4px;
}

input {  
  border: none;
  border-radius: 3px;
  flex-grow: 1;
  font-size: 1.2rem;
  padding-left: 0.3rem;
}

button {
  background: rgb(240, 236, 0);
  color: #222;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}