form {
  background-color: rgb(230, 217, 255);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: 400px;
  padding: 0.3rem;
  border-radius: 4px;
}

input {  
  border: none;
  border-radius: 3px;
  flex-grow: 1;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

input:is(:focus) {
  outline: 2px solid rgb(32, 0, 90);
  outline-offset: -4px;
}

.button {
  background: rgb(230, 217, 255);
  color: #222;
  font-size: 1.2rem;
  font-weight: bold;
  outline: 2px solid #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:is(:focus, :hover) {
  background:rgb(212, 209, 0)
}