.card {
  cursor: pointer;
  /* border: 1px solid green; */
  width: 6rem;
  height: 6rem;
}

.colorContainer {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 3px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorParagraph {
  margin-bottom: 0.2rem;
}

.copy {
  max-width: 100%;
  background-color: aliceblue;
  color: #333;
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  transition: opacity 150ms ease-out;
  opacity: 0;
}

.copy.showCopy {
  opacity: 1;
}