.card {
  cursor: pointer;
}

.colorContainer {
  padding: 1rem;
  cursor: pointer;
  border-radius: 3px;
  margin: 0;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  position: relative;
}

.colorParagraph {
  margin-bottom: 0.2rem;
}

.copy {
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  z-index: -1;
  right: 0.5rem;
  transform: translateX(0);
  transition: transform 150ms ease-out;
}

.copy.showCopy {
  transform: translateX(110%);
}